/TP_JAVASE/dist/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1-Preloader/nbproject/private/
/JavaFXApplication1-Preloader/build/
/JavaFXApplication1/build/
/JavaFXApplication1-Preloader/dist/
/JavaFXApplication1/dist/